@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<!-- Mirrored from themewagon.github.io/taxi/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 12:05:11 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.html">
	<!-- Author Meta -->
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Taxi</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				
				<div class="col-lg-4  col-md-6 header-right">
					<h4 class="pb-30">FORMULAIRE COMPTE CLIENT</h4>
					<form class="form">
						<div class="from-group">
							<div class="o">
							<input class="form-control txt-field" type="text" name="nom" placeholder="Nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'">
							<input class="form-control txt-field" type="text" name="prenom" placeholder="Prénom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Prenom'">
							<input class="form-control txt-field" type="email" name="email" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							<input class="form-control txt-field" type="text" name="cni" placeholder="CNI" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cni'">                           
							<input class="form-control txt-field" type="tel" name="telephone" placeholder="Numéro de téléphone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telephone'">
							<input class="form-control txt-field" type="password" name="mot de passe" placeholder="Mot de passe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mot de passe'">
							<input class="form-control txt-field" type="password" name="mot de passe" placeholder="Confirmer mot de passe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mot de passe'">
						    </div>
						</div class="form-group">
																		
						<div class="form-group">

								<button class="btn btn-default btn-lg btn-block text-center text-uppercase">Connexion</button>

						</div>
						<p class="form">Souhaitez-vous devenir<a class="n" asp-area="" asp-controller="Formulaire" asp-action="Chauffeur">Chauffeur</a>?</p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
</body>

<!-- Mirrored from themewagon.github.io/taxi/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 12:05:39 GMT -->
</html>